@font-face{
    font-family: 'milkyJuice';
    src: url('../assets/fonts/milky\ juice/.otf') format('otf');
}

.main{
    flex-direction: column;
    background-color: #D9D9D9;
}

.bg{
    display: flex;
    align-items: center;
    justify-content: center;

}

.phwords{
    font-family: 'milkyJuice';
}

html,body{
    height: fit-content;
    overflow: hidden;
}